<IfModule mod_rewrite.c>
    Options -Multiviews
    RewriteEngine On
    
    # FIX: Aggiungi lo slash all'inizio! 
    # È un percorso URL, non un percorso file di Windows.
    RewriteBase /COMPITO/API/public/

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

    RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>